.footer-color{
   color: rgba(255, 255, 255, 0.493);
}
.f-text{
    font-size: 15px;
}
.f-m{
    margin-top: 37px;
}
.number{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}