.bg-blog{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.281);
    background-blend-mode: overlay;
    height: 650px;
}
.blog-card{
    height: 300px;
}
.blog-img{
    height: 300px;
}
.blog-frame{
    height: 300px;
    background-color: blue;
}
.blog-frame img{
    transition: transform 1s ease-in-out;
}
.blog-frame:hover img{
    transform: translate(0px, 180px);
}
.blog-image-info{
width: 545px;
height: 300px;
}
@media only screen and (max-width: 600px) {
    .blog-image-info{
        width: 320px;
    }
    .bg-blog{
        height: 900px;
    }
   }